.div-heading-block {
    text-align: center;
    padding: 30px;
    background-color: #f0f0f0;
  }
  
  .heading-big {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
    color: blueviolet;
    font-family: cursive;
  }
  
  .heading-small {
    font-size: 26px;
    font-weight: normal;
    font-family: cursive;
  }