.div-heading-block {
    text-align: center;
    padding: 30px;
  }
  
  .heading-big {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: blueviolet;
    font-family: 'Noto Serif Nyiakeng Puachue Hmong', cursive;
  }
  
  .heading-small {
    font-size: 27px;
    font-weight: normal;
    font-family: 'Noto Serif Nyiakeng Puachue Hmong',  cursive;
  }