<app-heading></app-heading>
<div class="container">
<!--------------------------Search Box--------------------------------->
<div class="row search-box-div">
  <input type="text"
    class="search search-box-div-input search-input" maxlength="256" name="Search"
    placeholder="Search to find specific tools for your needs..."
    id="Search" [(ngModel)]="searchBoxInput" (ngModelChange)="onSearchSortOrTag()">
</div>
<!--------------------------------------------------------------------->

<!---------------------------Tags-------------------------------------->
<form (change)="onSearchSortOrTag()" #checkboxForm="ngForm">
  <div class="container">
    <div class="row tags-row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let tag of tagOptions">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="tag.value"
            [name]="tag.value"
            [(ngModel)]="selectedTags[tag.value]"
          />
          <label class="form-check-label tags-label" [for]="tag.value">{{ tag.label }}</label>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<!--------------------------------------------------------------------->

<!---------------------------Price Models------------------------------>
<form (change)="onSearchSortOrTag()" #checkboxForm="ngForm">
  <div class="container">
    <div class="row price-row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-6" *ngFor="let pricingModel of pricingModelOptions">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="pricingModel.value"
            [name]="pricingModel.value"
            [(ngModel)]="selectedPricingModels[pricingModel.value]"
          />
          <label class="form-check-label" [for]="pricingModel.value">{{ pricingModel.label }}</label>
        </div>
      </div>
    </div>
  </div>
</form>
<!--------------------------------------------------------------------->
<!---------------------------Picked tools------------------------------>
<div class="container picked-cont">
  <div class="row picked-row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <div class="form-check">
        <input class="form-check-input picked-input" type="checkbox" id="pickedName" name="pickedName"
          (click)="onCardTagClick(pickedName)" />
        <label class="form-check-label picked-label" for="pickedName">{{ pickedLabel }}</label>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------->
<br>
<!------------------------------Summary and Sort row------------------->
<div class="summary-sort-row row">

  <div class="toolnumber col-md-6 col-sm-6">
    <div class="result-number-div">Showing {{searchedToolsCount}} of {{totalToolsCount}} Total Tools.</div>
  </div>

  <div class="selector col-md-6 col-sm-6 d-flex justify-content-end">
    <div class="dropdown form-block-6 w-form">
      <select id="sortField" name="sortField" class="btn select-dropdown" [(ngModel)]="sortFieldSelectedValue" (change)="onSearchSortOrTag()">
        <option value="">Sort (Default - Newest)</option>
        <option value="sort-asc-name">Sort By Name (A-Z)</option>
        <option value="sort-desc-name">Sort By Name (Z-A)</option>
        <option value="sort-desc-date">Date Added (Newest-Oldest)</option>
        <option value="sort-asc-date">Date Added (Oldest-Newest)</option>
      </select>
    </div>
  </div>

</div>
<!--------------------------------------------------------------------->
<br>
<!---------------------------Tools Cards List-------------------------->
<div class="row">
  <div class="card-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let aitool of UpdatedAiTools">
    <div class="card mb-3">
      <div class="card-row row g-0">
        <div class="card-row-column1 col-5">
          <a href="{{aitool.redirectLink}}" target="_blank" class="card-row-column1-link">
            <img loading="lazy" [src]="aitool.imageLink" alt="alt_card_img" class="img-fluid rounded-start card-row-column1-img"/>
          </a>
        </div>
        <div class="card-row-column2 col-7">
          <div class="card-body py-0">
            <div class="card-title">
              <h3 class="card-title">
                <a href="{{aitool.redirectLink}}" class="card-title-name" target="_blank">{{ aitool.name }}</a>

                <a href="{{aitool.redirectLink}}" target="_blank" class="card-title-redirect">
                  <svg xmlns="http://www.w3.org/2000/svg" class="share-icon" width="19" height="19" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M5 21q-.825 0-1.413-.588T3 19V5q0-.825.588-1.413T5 3h7v2H5v14h14v-7h2v7q0 .825-.588 1.413T19 21H5Zm4.7-5.3l-1.4-1.4L17.6 5H14V3h7v7h-2V6.4l-9.3 9.3Z">
                    </path>
                  </svg>
                </a>
              </h3>
            </div>
            <div class="card-text card-text-shortdesc">
              <p title="{{ aitool.shortDesc }}">{{ aitool.shortDesc }}</p>
            </div>
            <div class="card-text card-text-tag" *ngFor="let aiToolTag of aitool.tags">
              <p class="text-tag" (click)="onCardTagClick(aiToolTag)">{{ aiToolTag }}</p>
            </div>
            <div class="card-text card-text-model">
              <p class="text-pricemodel" (click)="onCardPricingClick(aitool.pricingModel)" *ngIf="aitool.pricingModel === 'Price Unknown / Product Not Launched Yet'; else normalPrice">Price Unknown</p>
              <ng-template #normalPrice><p class="text-pricemodel" (click)="onCardPricingClick(aitool.pricingModel)">{{ aitool.pricingModel }}</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------->
<!----------------------Load More Button------------------------------->
<div class="load-more-button" >
  <button *ngIf="UpdatedAiTools.length !== searchedToolsCount" (click)="loadMoreTools()"><i class="fa fa-bounce fa-chevron-down"></i> Load More</button>
</div>
<!--------------------------------------------------------------------->
</div>