<div class="search-box-div">
  <input type="text"
    class="search search-box-div-input search-input" maxlength="256" name="Search"
    placeholder="Search to find specific tools for your needs..."
    id="Search">
</div>

<div class="summary-sort-row row">
  <div class="toolnumber col-md-6">
    <div class="result-number-div">Showing {{searchedToolsCount}} of {{totalToolsCount}} Total Tools.</div>
  </div>

  <div class="selector col-md-6">
    <div class="dropdown form-block-6 w-form">
      <form id="email-form-3" name="email-form-3" data-name="Email Form 3" method="get" class="form-5">
        <select id="field" name="field" data-name="Field" class="btn select-dropdown">
          <option value="">Sort (Default - Newest)</option>
          <option value="jetboost-sort-asc-nr66">Sort By Name (A-Z)</option>
          <option value="jetboost-sort-desc-nr66">Sort By Name (Z-A)</option>
          <option value="jetboost-sort-desc-mply">Date Added (Newest-Oldest)</option>
          <option value="jetboost-sort-asc-mply">Date Added (Oldest-Newest)</option>
        </select>
      </form>
    </div>
  </div>

</div>
<br>

<div class="row">
  <div class="card-wrapper col-md-6" *ngFor="let item of data">
    <div class="card mb-3">
      <div class="card-row row g-0">
        <div class="card-row-colum1-div1 col-md-5">
          <a href="{{item.redirectLink}}" target="_blank" class="card-row-colum1-link">
            <img [src]="item.imageLink"  alt="alt_card_img" class="img-fluid rounded-start card-row-colum1-div1-img"/>
          </a>
        </div>
        <div class="card-row-colum2-div1 col-md-7">
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{item.redirectLink}}" class="card-title-name" target="_blank">{{ item.name }}</a>

              <a href="{{item.redirectLink}}" target="_blank" class="card-title-redirect">
                <img class="card-title-redirect-img" src="assets/share.png" alt="share">
              </a>
            </h3>
            <div class="card-text">
              <p>{{ item.shortDesc }}</p>
              {{ item.pricingModel }}
              <p>Tags: {{ item.tags.join(', ') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>