<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                            <h3 class="heading mb-4">Let's talk!</h3>
                            <p>Hello ! Myself IB.</p>
                            <p>We're open for any suggestion, questions or complains.</p>
                            <p><img src="../../assets/contact.svg" alt="Image" class="img-fluid"></p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                            <h3>Contact information</h3>
                            <p class="mb-4">Feel free to contact on below details.</p>

                            <div class="dbox w-100 d-flex align-items-center my-3">
                                <div class="icon d-flex align-items-center justify-content-center">
                                  <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text pl-3">
                                    <p class="mb-0"><span class="font-weight-bold">Email:</span> <a href="mailto:newtonbk890@gmail.com"> newtonbk890@gmail.com</a></p>
                                </div>
                            </div>
                              
                            <div class="dbox w-100 d-flex align-items-center my-3">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text pl-3">
                                    <p class="mb-0"><span class="font-weight-bold">Website:</span> <a href="findaiforyou.web.app"> findAiforYou</a></p>
                                </div>
                            </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>