.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  a:hover,
  a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
  }

.text-mute {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color);
}

.divcard {
  box-shadow: 0 0 2px black;
  border: 2px black;
}