<header>
  <nav class="navbar navbar navbar-expand-lg navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../assets/icon.png" loading="lazy" height="43" width="43" alt="Icon">
        <img src="../assets/logo.png" loading="lazy" height="45" width="250" alt="Logo">
      </a>
      <button type="button" class="navbar-toggler" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': isNavbarOpen }">
        <ul class="navbar-nav">
          <div>
            <input type="checkbox" [checked]="theme === 'dark-theme'" (click)="toggleTheme()" id="toggle_checkbox">
            <label for="toggle_checkbox">
              <div id="star">
                <div class="star" id="star-1">★</div>
                <div class="star" id="star-2">★</div>
              </div>
              <div id="moon"></div>
            </label>
          </div>
          <li class="nav-item active">
            <a class="nav-link font-italic" href="/" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-italic" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer-bottom text-center">
    <div class="container-footer py-3">
      <div class="footer-copyright">© 2023 findAIforYou All rights reserved.</div>
      <div class="footer-legal-block d-flex justify-content-center">
        <a href="https://twitter.com/IndianBittu" target="_blank" class="footer-legal-link mx-2">Built by IB</a>
        <a href="#" target="_blank" class="footer-legal-link mx-2">Terms Of Use</a>
        <a href="#" target="_blank" class="footer-legal-link mx-2">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>