.navbar-nav li a {
  color: rgb(5, 76, 217);
}

.navbar-nav li a:hover {
  color: rgb(3, 3, 30);
}

.footer-legal-link {
  color: inherit;
  text-decoration: none;
}

.footer-legal-link:hover {
  text-decoration: underline;
}